#navbar {background: hsl(240, 100%, 15%); }

body {background: #ffffff;}

a.logo img {max-height: 40px;}

.footer {
  background: hsl(240, 100%, 15%);
  padding: 20px 0 20px 0;
  color: #ffffff;
}

.footers {
  margin-top: 20px;
  }
.footer1 {

}
